@charset "UTF-8";

.navbar-brand{
	 padding-bottom:15px"
}
.navbar-brand img{
	width:32px;
	height:32px;
}
form .btn-warning{
	background-color: #FFA900;
}
form .btn-primary{
	background-color: #1266F1;
}