<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
<head>

<title>Cadastro de Títulos</title>

</head>
<div layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/titulos/cadastrar">
		<div class="alert alert-success alert-dismissible fade in"
			role="alert" th:if="${!#strings.isEmpty(mensagem)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${mensagem}"></span>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading clear-fix">
				<ul class="aw-link-panel d-flex align-items-center">
					<li style="padding: 5px"><h1 class="panel-title">Novo
							Título</h1></li>
					<li><a class="btn btn-link aw-link-panel"
						href="/titulos/pesquisa" style="text-decoration: none">Voltar
							para pesquisa</a></li>
				</ul>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao"
							name="descricao" />
					</div>
				</div>
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Data
						de vencimento</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataVencimento"
							name="dataVencimento" />
					</div>
				</div>
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="valor" name="valor" />
					</div>
				</div>
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-3">
						<select class="form-select form-control"
							aria-label="Default select example" id="status" name="status">
							<option th:each="status : ${todosStatusTitulo}"
								th:value="${status}" th:text="${status.descricao}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button type="reset" class="btn btn-warning">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>
</html>