<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
<head>
<title>Pesquisa de Títulos</title>
</head>
<section layout:fragment="conteudo">
	<div class="panel panel-default">
		<div class="panel-heading clear-fix">
			<ul class="aw-link-panel d-flex align-items-center">
				<li style="padding: 5px"><h1 class="panel-title">Pesquisa
						de Título</h1></li>
				<li><a class="btn btn-link aw-link-panel" href="/titulos/novo"
					style="text-decoration: none">Novo título </a></li>
			</ul>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-responsive">
				<thead>
					<tr>
						<th scope="col" class="text-center col-md-1">#</th>
						<th scope="col">descrição</th>
						<th scope="col" class="text-center col-md-2">data vencimento</th>
						<th scope="col" class="text-right col-md-2">valor</th>
						<th scope="col" class="text-center col-md-2">status</th>
						<th scope="col" class="text-center col-md-2">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="text-center col-md-1" th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center col-md-2"
							th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-right col-md-2" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center col-md-2"><span
							class="label" th:text="${titulo.status.descricao}"
								th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
						</td>
						<td class="text-center col-md-2"><i class="fas fa-trash-alt"
							style="color: #F93154"></i> <i class="far fa-edit"
							style="color: #00B74A"></i> <i class="fas fa-search"
							style="color: #39C0ED"></i></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum
							título encontrado</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th scope="col" class="text-center col-md-1">#</th>
						<th scope="col">descrição</th>
						<th scope="col" class="text-center col-md-2">data vencimento</th>
						<th scope="col" class="text-right col-md-2">valor</th>
						<th scope="col" class="text-center col-md-2">status</th>
						<th scope="col" class="text-center col-md-2">Ações</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</section>
</html>
